body {
  background-color: #eadfd7;
}

h1 {
  font-family: "Merriweather", serif;
  color: black;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  top: 20%;
  right: 37%;
  transition-property: font-size;
  transition-duration: 4s;
}

h1:hover {
  font-size: 5rem;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  bottom: 12rem;
}

p {
  font-family: "Work Sans", sans-serif;
}

.informative-section a {
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
  padding: 1em 1em;
  font-size: 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.informative-section a:hover {
  color: white;
}

.top-photos-container img:hover {
  transform: scale(1.75);
}

.memories-container img:hover {
  transform: scale(1.75);
}
