body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}
.container {
  background-color: rgb(231, 222, 222);
}

.txtover {
  position: relative;
}

.txtover figcaption {
  position: absolute;
  top: 12%;
  left: 5%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(233, 227, 227);
  font-size: 9rem;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  bottom: 12rem;
}

button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  border: none;
  color: white;
  bottom: 9rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding: 1em 1em;
  border-radius: 4em;
}

@media (max-width: 1050px) {
  h1 {
    position: absolute;
  }

  @media (max-width: 360px) {
    h1 {
      display: none;
    }
  }
}
