body {
  background-color: #eadfd7;
}

h1 {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 12rem;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  top: 20%;
  right: 37%;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  bottom: 12rem;
}

p {
  font-family: "Work Sans", sans-serif;
}

button {
  background-color: none;
  border: solid 2px 2px 2px rgb(255, 255, 255);
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: small;
  padding: 1em 1em;
  border-radius: 4em;
}

button:hover {
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
}
